header {
    padding: 10px 0;

    .mobile-menu {
        opacity: 0;
        transform: translateY(-20px); // Adjust as needed for smooth effect
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; // Smooth transition
        visibility: hidden; // Prevents interaction when hidden
        height: 0; // Prevents space when hidden
        overflow: hidden; // Hides the content when not visible
        z-index: 1000; // Adjust z-index as needed

        &.show {
            opacity: 1;
            transform: translateY(0);
            visibility: visible; // Allows interaction when shown
            height: auto; // Allows space when shown
        }
        ul {
            li{
                a{
                    color: $secondary-color;
                }
            }
        }
    }

    .nav-bar {
        nav {
            ul {
                display: flex;

                li {
                    position: relative;
                    padding-top: 15px;

                    a {
                        color: $secondary-color;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 27px;
                        letter-spacing: 0.5px;
                        text-decoration: none;
                    }

                    .dropdown-menu {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: -240%;
                        background: white;
                        border: 1px solid #ccc;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                        z-index: 1000;
                        padding: 34px 84px 48px 84px;

                        em {
                            border-bottom: 4px solid $primary-color;
                        }

                        &.show {
                            display: block;
                        }

                        em {
                            font-size: 30px;
                            font-weight: 500;
                            line-height: 56.85px;
                        }

                        .dropdown-grid {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                        }

                        div {
                            display: flex;
                            flex-direction: column;

                            b {
                                font-size: 16px;
                                font-weight: 600;
                                color: #000;
                                margin-bottom: 5px;
                            }

                            ul {
                                list-style: outside;
                                padding: 0;
                                margin: 0;
                                display: flex;
                                flex-flow: column;

                                li {
                                    padding: 5px !important;

                                    a {
                                        color: $secondary-color;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 41.76px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
